.Coin {
	background-color: #eee;
	border: solid 1px #666;
	border-radius: 6px;
	box-shadow: 1px 2px 2px #ccc;
	cursor: pointer;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;	
	margin: 12px;
	overflow: hidden;
	padding: 8px 12px;
	width: 180px;
}

.Coin:hover {
	background-color: #e5e5e5;
	box-shadow: 2px 3px 3px #ccc;
}

.Coin.Coin-invalid {
	border: solid 1px red;
}

.Coin-label {
	color: #777;
	font-weight: 500;
	line-height: 32px;
}

.Coin-label .Coin-logo {
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
}

.Coin-label.Coin-label-16 .Coin-logo {
	background-size: 16px;
	height: 16px;
	width: 16px;
	border-radius: 8px;
	margin-right: 6px;
}

.Coin-label.Coin-label-32 .Coin-logo {
	background-size: 32px;
	height: 32px;
	width: 32px;
	border-radius: 16px;
	margin-right: 8px;
}

.Coin-label.Coin-label-32 .Coin-name {
	position: relative;
	top: -8px;
}

.Coin-price {
	text-align: right;
}
.Coin-price-decreasing {
	color: red;
}
.Coin-price-increasing {
	color: green;
}
.Coin-price-unchanged {
	color: black;
}

/* 'sign' e.g. 'dollar sign' e.g. $ */
.Coin-price-sign {
	position: relative;
	left: -4px;
}

.Coin-stack {
	color: #888;
	font-size: .62em;
	margin-top: 6px;
}

.Coin-stack-count:last-child {
	float: right;
}

.Coin-stack-value {
	float: right;
}