.Coin {
	background-color: #eee;
	border: solid 1px #666;
	border-radius: 6px;
	box-shadow: 1px 2px 2px #ccc;
	cursor: pointer;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	margin: 14px;
	overflow: hidden;
	padding: 12px 16px;
	width: 180px;
}

.Coin:hover {
	background-color: #e5e5e5;
	box-shadow: 2px 3px 3px #ccc;
}

.Coin-label {
	color: #777;
	font-size: 24px;
	font-weight: 500;
}

.Coin-label .Coin-logo {
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	height: 32px;
	width: 32px;
	border-radius: 16px;
	margin-right: 8px;
}

.Coin-label .Coin-name {
	position: relative;
	top: -8px;
}

.Coin-price {
	float: right;
	font-size: 22px;
}
.Coin-price-decreasing {
	color: red;
}

.Coin-price-increasing {
	color: green;
}

.Coin-price-unchanged {
	color: black;
}

/* 'sign' e.g. 'dollar sign' e.g. $ */
.Coin-price-sign {
	position: relative;
	left: -4px;
}