.hidden {
  display: none;
}

.App-content {
  padding: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: left;
}

.App-header,
.App-footer {
  background-color: #222;
  color: white;
}

.App-header {
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
}

.App-header h2 {
  margin: 0;
}

.App-coins {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 14px;
}

.App-footer {
  color: #777;
  font-size: 12px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a.attribution {
  color: #777;
  text-decoration: none;
}

a.attribution:hover {
  color: #999;
}
