.hidden {
  display: none;
}

.App-content {
  padding: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100%;
  float: left;
}

.App-header,
.App-footer {
  background-color: #222;
  color: white;
}

.App-header {
  height: 80px;
  padding: 10px 0;
  position: relative;
  vertical-align: middle;
  z-index: 1; /* greater than settings panel */
}

.App-header h2 {
  line-height: 80px; /* match container height for middle alignment */
  margin: 0;
}

.App-footer {
  color: #777;
  font-size: 12px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a.attribution {
  color: #777;
  text-decoration: none;
}

a.attribution:hover {
  color: #999;
}
